Chatbot Whatsapp.json
{
  "name": "Chatbot Whatsapp",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "855e914b-7641-40ee-9c29-ab14f1d8f9a7",
              "name": "IdConversa",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "bcffb0d7-761a-4afa-b78b-b020eaf95349",
              "name": "Mensagem",
              "value": "={{ $json.body.text.message }}",
              "type": "string"
            },
            {
              "id": "f902dee6-7fc0-4ec7-9fc0-78c98bccef57",
              "name": "Nome",
              "value": "={{ $json.body.chatName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -16
      ],
      "id": "431f64ca-f015-4367-82ac-5b1e4f07b6a3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Edit Fields').item.json.Mensagem }}",
        "options": {
          "systemMessage": "Você é um agente de suporte, respondendo com educação e cordialidade, com emojis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        -16
      ],
      "id": "db6a72e5-fc23-49eb-97de-4bf42bfb0aa3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        496,
        208
      ],
      "id": "7f87efaa-1a08-4c5d-89d5-71156e6a9362",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "QYrruFvKg5aX7jVv",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields').item.json.IdConversa }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "b3e06ff0-596f-4a17-a441-ac8a2d92983a",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        864,
        144
      ],
      "id": "08d3d6d8-714b-4184-a451-8d5352854488",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        832,
        256
      ],
      "id": "65d22528-27bf-4aec-8376-08f7aedb4107",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "receber-mensagens-api",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "4869eb3b-617a-49b8-afe3-5182a1f84d2e",
      "name": "Webhook",
      "webhookId": "d0797580-bbb0-4311-b8d8-59743693fb43"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7085912e-fced-4c31-88f5-ad8a222072f4",
              "leftValue": "={{ $json.body.isGroup }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "7ab7e685-5167-4933-920b-ceb9879cd97b",
              "leftValue": "={{ $json.body.isNewsletter }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "009ffae3-3864-4bb7-8b56-100e0b12393d",
              "leftValue": "={{ $json.body.broadcast }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "d48926a0-541e-48cc-a47f-6bd806454034",
              "leftValue": "={{ $json.body.fromApi }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        0
      ],
      "id": "dd12b1eb-13bf-491c-9430-15bcaabace8c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        224,
        192
      ],
      "id": "b0c9f2a9-4b2e-423d-b217-b7962e3e1946",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1184,
        -16
      ],
      "id": "6490f953-e835-41de-835c-b17e84d60e6d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1HbuDWHNBuSfmIbV43_yENHkkBsUUBlqm3_X_TWZesiI",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HbuDWHNBuSfmIbV43_yENHkkBsUUBlqm3_X_TWZesiI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2069746631,
          "mode": "list",
          "cachedResultName": "Case 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HbuDWHNBuSfmIbV43_yENHkkBsUUBlqm3_X_TWZesiI/edit#gid=2069746631"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Whatsapp": "={{ $json.IdConversa }}",
            "Nome": "={{ $json.Nome }}"
          },
          "matchingColumns": [
            "Whatsapp"
          ],
          "schema": [
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Whatsapp",
              "displayName": "Whatsapp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -16
      ],
      "id": "91ca94db-2d2a-4a97-a3fb-bf5aa381d06d",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AeOiOZwHUpuKZd7c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E81E1F2F83C412AE065B2F71665D597/token/063E991FAADB447D1DB8B4F6/send-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "client-token",
              "value": "F500d249807f943e3b12e8104004bdb62S"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.IdConversa }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        -16
      ],
      "id": "23550e42-309e-46d1-8247-de8fc22924ab",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "238d3b52-e6ef-42a3-903c-1973e0fa925f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2b5fc60e2e092414a7c6b551d58d6f983e78f4b7feba71a25f9f802e16994a0"
  },
  "id": "mpwQEeoH9Q0E7gKh",
  "tags": []
}